ddbb/entradas.ldf
ddbb/entradas.mdf
ddbb/SistemaCine.ldf
ddbb/SistemaCine.mdf

www/glassfish/.idea
www/tomcat/.idea
www/tomcat/src/main/webapp/www/resources/node_modules
www/tomcat/src/main/webapp/www/resources/package-lock.json