/*      Indice
    1. Base
*/


/*  1. Base  */
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
    color: black;
    overflow-x: hidden;
}

label{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

input{
    background: #FFFFFF;
    border: 1px solid #757575;
    border-radius: 4px;
}

button{
    border-radius: 4px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.button-green{
    background: #689F38;
    border: 1px solid #388E3C;
    border-bottom: 4px solid #388E3C ;
}

.button-grey{
    background: #E0E0E0;
    border: 1px solid #9E9E9E;
    border-bottom: 4px solid #9E9E9E ;
}

.button-red{
    background: #EF9A9A;
    border: 1px solid #E57373;
    border-bottom: 4px solid #E57373 ;
}