/****************MOBILE DEVICES*****************/
@mixin mobile320 {
  @media (min-width: 321px) {
    @content;
  }
}

@mixin mobile360 {
  @media (min-width: 361px) {
    @content;
  }
}

@mixin mobile375 {
  @media (min-width: 376px) {
    @content;
  }
}

@mixin mobile414 {
  @media (min-width: 415px) {
    @content;
  }
}

@mixin mobile480 {
  @media (min-width: 481px) {
    @content;
  }
}
/****************TABLET DEVICES*****************/
@mixin tablet600 {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin tablet768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet800 {
  @media (min-width: 801px) {
    @content;
  }
}

@mixin tablet992 {
  @media (min-width: 993px) {
    @content;
  }
}

@mixin tablet1024 {
  @media (min-width: 1025px) {
    @content;
  }
}

/****************DESKTOPS DEVICES*****************/
@mixin laptop1200 {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin laptop1280 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin laptop1366 {
  @media (min-width: 1367px) {
    @content;
  }
}

@mixin laptop1440 {
  @media (min-width: 1441px) {
    @content;
  }
}

@mixin laptop1600 {
  @media (min-width: 1601px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1901px) {
    @content;
  }
}

/****************REGLAS POR ALTOS*****************/
@mixin alto700 {
  @media (max-height: 701px) {
    @content;
  }
}

@mixin onmob360 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin onmob414 {
  @media (max-width: 414px) {
    @content;
  }
}

/****************MOBILE LANDSCAPE*****************/
@mixin mobiland320 {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @content;
  }
}
@mixin mobiland375 {
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @content;
  }
}

@mixin mobiland414 {
  @media only screen and (min-device-width: 414px) and (max-device-width: 737px) and (orientation: landscape) {
    @content;
  }
}

@mixin mobilandipX {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    @content;
  }
}

@mixin mobilandis8 {
  @media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: landscape) {
    @content;
  }
}

/****************TABLET LANDSCAPE*****************/
@mixin tabland1 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
@mixin tabland2 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}
/****************TABLET PORTRAIT*****************/
@mixin tabport1 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}
@mixin tabport2 {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

/****************ONLY IE10+*****************/
@mixin onlyie10 {
  @media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
    @content;
  }
}
