@import "../globals/global";
@import "../globals/mediaqueries";

.form {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 140px 0 70px 0;
  width: 100%;
  form {
    margin: 0 auto;
    width: 85%;
    @include tablet768 {
      width: 420px;
    }
    h2 {
      color: $font-primary;
      font-weight: $font-black;
      text-align: center;
    }
    h4 {
      color: $font-primary;
      font-weight: $font-black;
    }
    .form-group {
      label {
        color: $font-primary;
        font-weight: 700;
      }
    }
    a,
    button {
      &.btn-danger,
      &.btn-primary {
        width: 100%;
      }
      &[disabled],
      &:disabled,
      &.disabled{
        background-color: #B0BEC5;
        color: #007bff;
        opacity: 1;
      }
    }
  }
  .user-messages {
    p {
      span {
        font-family: monospace;
        white-space: pre;
      }
    }
  }
}