@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

a {
  text-decoration: none; }
  a:hover, a:active, a:visited {
    text-decoration: none; }

header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5) !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 9; }
  header nav {
    width: 100%; }
    header nav .navbar-brand {
      color: #e50914 !important;
      font-weight: 900;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      padding: 0; }
      header nav .navbar-brand img {
        height: 49px;
        margin-right: 7px;
        width: auto; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%; }
      header nav ul li {
        list-style: none;
        margin: 0 14px;
        position: relative; }
        header nav ul li a {
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #d1d0cf;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 16px;
          font-weight: 700;
          height: 70px;
          text-transform: uppercase;
          -webkit-transition: .35s ease;
          transition: .35s ease; }
          header nav ul li a:hover {
            color: #e50914; }
          header nav ul li a.active, header nav ul li a:active, header nav ul li a:visited {
            color: #e50914; }
        header nav ul li ul {
          background-color: #141414;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          opacity: 0;
          position: absolute;
          visibility: hidden;
          text-align: left;
          -webkit-transition: .35s ease;
          transition: .35s ease;
          z-index: -1;
          width: initial; }
          header nav ul li ul li a {
            display: block;
            height: initial;
            padding: 21px 14px; }
        header nav ul li:hover ul {
          opacity: 1;
          visibility: visible;
          z-index: 10; }

footer {
  background-color: #191919;
  padding: 70px 0; }
  footer p {
    color: #d1d0cf;
    margin-bottom: 0; }

/****************MOBILE DEVICES*****************/
/****************TABLET DEVICES*****************/
/****************DESKTOPS DEVICES*****************/
/****************REGLAS POR ALTOS*****************/
/****************MOBILE LANDSCAPE*****************/
/****************TABLET LANDSCAPE*****************/
/****************TABLET PORTRAIT*****************/
/****************ONLY IE10+*****************/
.home-grid {
  font-family: 'Roboto', sans-serif;
  padding: 30px 0 100px 0; }
  .home-grid h3 {
    color: white;
    margin-bottom: 28px;
    margin-top: 70px; }
  .home-grid .ver-todos {
    color: #e50914;
    display: inline-block;
    margin-bottom: 28px;
    margin-top: 70px; }
    .home-grid .ver-todos:hover {
      color: #d1d0cf; }

.home-movie {
  font-family: 'Roboto', sans-serif;
  height: 189px;
  position: relative; }
  .home-movie .img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
    .home-movie .img img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
  .home-movie .contenido {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: black;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), color-stop(15%, rgba(20, 20, 20, 0.9)), to(rgba(83, 100, 141, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .home-movie .contenido .titulo h4 {
      color: #d1d0cf;
      font-size: 16px;
      font-weight: 900; }
    .home-movie .contenido .timing span {
      color: #d1d0cf;
      font-size: 12px; }
    .home-movie .contenido .cta {
      margin-top: 21px; }
      .home-movie .contenido .cta a {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #e50914;
        border: 2px solid #e50914;
        color: #d1d0cf;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        font-weight: 700;
        padding: 7px 14px;
        text-transform: uppercase;
        -webkit-transition: .35s ease;
        transition: .35s ease; }
        .home-movie .contenido .cta a i {
          margin-right: 14px; }
        .home-movie .contenido .cta a:hover {
          background-color: #d1d0cf;
          border: 2px solid #d1d0cf;
          color: #e50914; }
        .home-movie .contenido .cta a:active, .home-movie .contenido .cta a:visited {
          color: #e50914; }

.content {
  background-color: #141414; }

.banner-destacado {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%; }
  .banner-destacado .img {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
    .banner-destacado .img img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
  .banner-destacado .contenido {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: black;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), color-stop(15%, rgba(20, 20, 20, 0.9)), to(rgba(83, 100, 141, 0)));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.9) 15%, rgba(83, 100, 141, 0) 100%);
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    padding: 0 5%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .banner-destacado .contenido .titulo h2 {
      color: #d1d0cf;
      font-size: 70px;
      font-weight: 900; }
    .banner-destacado .contenido .timing span {
      color: #d1d0cf; }
    .banner-destacado .contenido .descripcion {
      margin: 32px 0;
      width: 600px; }
      .banner-destacado .contenido .descripcion p {
        color: #d1d0cf;
        margin-bottom: 0; }
    .banner-destacado .contenido .info {
      width: 600px; }
      .banner-destacado .contenido .info p {
        color: #d1d0cf;
        margin-bottom: 7px; }
        .banner-destacado .contenido .info p strong {
          color: #e50914;
          font-weight: 700; }
    .banner-destacado .contenido .cta {
      margin-top: 28px; }
      .banner-destacado .contenido .cta a {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #e50914;
        border: 2px solid #e50914;
        color: #d1d0cf;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 700;
        padding: 14px 21px;
        text-transform: uppercase;
        -webkit-transition: .35s ease;
        transition: .35s ease; }
        .banner-destacado .contenido .cta a i {
          margin-right: 14px; }
        .banner-destacado .contenido .cta a:hover {
          background-color: #d1d0cf;
          border: 2px solid #d1d0cf;
          color: #e50914; }
        .banner-destacado .contenido .cta a:active, .banner-destacado .contenido .cta a:visited {
          color: #e50914; }
  .banner-destacado .playtrailer {
    position: absolute;
    right: 15%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3; }
    .banner-destacado .playtrailer a {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: white;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      -webkit-transition: .35s ease;
      transition: .35s ease; }
      .banner-destacado .playtrailer a i {
        font-size: 91px;
        margin-right: 21px; }
      .banner-destacado .playtrailer a:hover {
        color: #e50914; }
      .banner-destacado .playtrailer a:active, .banner-destacado .playtrailer a:visited {
        color: #e50914; }

a {
  text-decoration: none; }
  a:hover, a:active, a:visited {
    text-decoration: none; }

header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5) !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 9; }
  header nav {
    width: 100%; }
    header nav .navbar-brand {
      color: #e50914 !important;
      font-weight: 900;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      padding: 0; }
      header nav .navbar-brand img {
        height: 49px;
        margin-right: 7px;
        width: auto; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%; }
      header nav ul li {
        list-style: none;
        margin: 0 14px;
        position: relative; }
        header nav ul li a {
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #d1d0cf;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 16px;
          font-weight: 700;
          height: 70px;
          text-transform: uppercase;
          -webkit-transition: .35s ease;
          transition: .35s ease; }
          header nav ul li a:hover {
            color: #e50914; }
          header nav ul li a.active, header nav ul li a:active, header nav ul li a:visited {
            color: #e50914; }
        header nav ul li ul {
          background-color: #141414;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -moz-box-orient: vertical;
          -moz-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          opacity: 0;
          position: absolute;
          visibility: hidden;
          text-align: left;
          -webkit-transition: .35s ease;
          transition: .35s ease;
          z-index: -1;
          width: initial; }
          header nav ul li ul li a {
            display: block;
            height: initial;
            padding: 21px 14px; }
        header nav ul li:hover ul {
          opacity: 1;
          visibility: visible;
          z-index: 10; }

footer {
  background-color: #191919;
  padding: 70px 0; }
  footer p {
    color: #d1d0cf;
    margin-bottom: 0; }

/****************MOBILE DEVICES*****************/
/****************TABLET DEVICES*****************/
/****************DESKTOPS DEVICES*****************/
/****************REGLAS POR ALTOS*****************/
/****************MOBILE LANDSCAPE*****************/
/****************TABLET LANDSCAPE*****************/
/****************TABLET PORTRAIT*****************/
/****************ONLY IE10+*****************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
