$font-primary: rgb(209, 208, 207);
$font-strong: rgb(229, 9, 20);
$font-thin: 100;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

a {
  text-decoration: none;
  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

header {
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5) !important;
  display: flex;
  height: 70px;
  padding: 0 5%;
  position: fixed;
  width: 100%;
  z-index: 9;
  nav {
    width: 100%;
    .navbar-brand {
      color: $font-strong !important;
      font-weight: $font-black;
      letter-spacing: 3.5px;
      text-transform: uppercase;
      padding: 0;
      img {
        height: 49px;
        margin-right: 7px;
        width: auto;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      li {
        list-style: none;
        margin: 0 14px;
        position: relative;
        a {
          align-items: center;
          color: $font-primary;
          display: flex;
          font-size: 16px;
          font-weight: $font-bold;
          height: 70px;
          text-transform: uppercase;
          transition: .35s ease;
          &:hover {
            color: $font-strong;
          }
          &.active,
          &:active,
          &:visited {
            color: $font-strong;
          }
        }
        ul {
          background-color: #141414;
          flex-direction: column;
          opacity: 0;
          position: absolute;
          visibility: hidden;
          text-align: left;
          transition: .35s ease;
          z-index: -1;
          width: initial;
          li {
            a {
              display: block;
              height: initial;
              padding: 21px 14px;
            }
          }
        }
        &:hover {
          ul {
            opacity: 1;
            visibility: visible;
            z-index: 10;
          }
        }
      }
    }
  }
}

footer {
  background-color: #191919;
  padding: 70px 0;
  p {
    color: $font-primary;
    margin-bottom: 0;
  }
}